/* Navbar Styles */
.navbar {
  background-color: #2c3e50;
  /* background-image: url('https://designerapp.officeapps.live.com/designerapp/document.ashx?path=/6333a2bd-bf74-4ec0-a907-a32775b02f10/DallEGeneratedImages/dalle-3e27985f-f5fb-400c-ad8a-ffde7e8e76f10251676347799649800100.jpg&dcHint=KoreaCentral&fileToken=f1b3f9dc-6c32-41bf-bd96-c0fcea9d946f'); */
  padding: 20px 0;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 1.8em;
  margin: 0;
}

.navList {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0 15px;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
}

.navLink:hover {
  text-decoration: underline;
}
